
/*************************/
/***   Global styles   ***/
/*************************/

/*  Styling for the entire body */
body {
  top: 0px;
  right: 0px;
  margin: 0px;
  padding: 0px;
  font-family: sans-serif;
  color: white;
  background: #444;
}

/*  Don't display scrollbars (only works in chrome, chromium, safari)  */
::-webkit-scrollbar {
  display: none;
}

/*  Contains the whole website  */
#panel-container {
  display: flex;
}

/*  Left panel  */
#left-panel {
  height:     100vh;
  width:      35vw;
  padding:    10px;
  box-sizing: border-box;
  background: #334;
  box-shadow: 0px 0px 10px black;
  overflow-y: scroll;
  z-index:    10;
}

/*  Right panel  */
#right-panel {
  height: 100vh;
  width: 65vw;
  padding: 10px;
  box-sizing: border-box;
  background: #223;
  overflow-y: scroll;
}

/*  An input container is a text label next to an input slider or textbox  */
.input-container {
  display:         flex;
  align-items:     center;
  justify-content: space-between;
}
/*  The <label> tag  */
label {
  font-size: 0.7em;
  opacity: 0.7;
}
/*  Number inputs */
.input-container input[type="number"] {
  margin-left: 10px;
  width: 50px;
  box-shadow: 0px 0px 3px black inset;
}
/*  All text and button inputs */
button, input {
  background: #667;
  padding: 5px 10px; 
  border: none;
  outline: none; 
  color: white;
}
button {
  border-radius: 5px;
  box-shadow: 0px 0px 5px black;
  cursor: pointer;
}
button:hover {
  filter: brighten(120%);
}
input {
  border: solid 1px black;
}
input:active, input:focus {
  border: solid 1px #778;
}
input[type="range"] {
  padding: 0px;
}
/*  Labels for the min and max of input ranges */
.range-labels {
  position: relative;
}
.range-labels label {
  position: absolute;
  top: -15px;
  font-size: .7em;
  opacity: 0.7;
}
.min {
  left: 0px;
}
.max {
  right: 10px;
}

/***  TOP NAV BAR STYLING                 */

/*  Add a black background color to the top navigation */
.topnav {
  background-color: #334;
	overflow: hidden;
  position: relative;
  margin-top: -10px;
  margin-left: -10px;
  margin-bottom: 20px;
  margin-right: -10px;
}
/*  Style the links inside the navigation bar */
.topnav a {
  display: flex;
  align-items: center;
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
  position: relative;
  width: 50%;
  text-decoration: none;
  font-size: 1em;
  cursor: pointer;
}
/*  Change the color of links on hover */
.topnav a:hover {
  background-color: #dde;
  color: black;
}
/*  Add a color to the active/current link */
.topnav a.active {
  background-color: #556;
  color: white;
}
/*  SVG icons in top nav                   */
.topnav img {
  width: 18px;
  height: 18px;
  fill: rgba(255,255,255,0.5);
}


/***  UI-SLIDER STYLING             */

/*  For the pressure slider, through jquery-ui  */
.ui-slider {
  width: 129px;
  height:5px;  
}
.ui-slider-range {
  background: #55f;
  border: solid 2px #55f !important;
  top: -1px !important;
}
.ui-slider-handle {
  height: 1em !important;
  width: 1em !important;
  border-radius: 50%;
  background: #55f !important;
  border: 1px solid #55f !important;
  top: -6px !important;
}


/***********************************/
/***   Waveform manager styles   ***/
/***********************************/

#pressures .input-container {
  width: 260px;
}

/* Style the chart canvas */
#graph-container {
  display: block;
  /*width: 600px;
  height: 700px;*/
  padding: 10px;
  border-radius: 5px;

  left: 0px; right: 0px;
  margin: 0px auto;
}

#pulse-btns {
  display: flex;
  margin-bottom: 10px;
}
#clock {
  display: inline-block;
  padding: 5px;
  box-sizing: border-box;
  background: #222;
  box-shadow: 0px 0px 3px black inset;
  font-family: monospace;
  width: 80px;
}



